
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Menu */

aside {
    background-color:#1e1e2f;
    width: 225px;
    color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 120px; /* ajuste conforme necessário */
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px auto;
}

nav a {
    text-decoration: none;
    color: #bbb;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s
}

nav a:hover {
    background-color: #3e3e5e;
    color: #fff;
}

.redeSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto 0 auto 0;
}

.redeSocial a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 30px;
}

.redeSocial a:hover {
    box-shadow: 0 0 5px 1px #ffffff79;
}

/* Apresentação -----------------------------------------------------------*/
main {
    flex: 1;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

p {
    background-color: #1e1e2f1e;
    border-bottom: solid 1px black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    max-width: 1024px;
    line-height: 20px;
}

main .logoPrincipal{
    display: none;
    background: linear-gradient(to bottom, #1e1e2f, #1e1e2fa4);
    padding: 50px;
    border-radius: 20px;
    color: #fff;
}

.secaoSkills, .secaoProjetos, .secaoSobre {
    display: none;
    flex-direction: column;
    align-items: center;
}

/* seção sobre ------------------------------------------------*/

.secaoSobre img {
    position: relative;
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
}

span {
    font-weight: bold;
}

/* seçao Skills ----------------------------------------------*/

.containerIcon {
    display: flex;
}

.minhaSkills {
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 60px 20px 0 0;
}

h2 {
    margin: 30px 0 30px 0;
}

 ul {
    display: flex;
    flex-direction: column;
}

li {
    background-color: #1e1e2f;
    margin-top: 1px;
    padding: 2px;
    color: #fff;
    border-radius: 5px;
    list-style: none;
}

/* seção projetos---------------------------------------- */

.h1SecaoProjetos {
    text-align: center;
    margin-bottom: 40px;
}

section .areaProjetos {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.secaoProjetos .projeto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 700px;
    background-color: #1e1e2f1e;
    border: 1px solid #1e1e2f1e;
    border-radius: 10px;
    transition: .3s;
}

section .projeto1:hover {
    box-shadow: 0 0 20px 2px #1e1e2f86;/*rgba(0, 0, 0, 0.164) */
    transform: scale(1.05);
}

h3 {
    margin: 20px 0 20px 0;
}

section .fotoProjeto {
    display: flex;
    width: 300px;
    height: 600px;
    border-radius: 10px;
}

/* animaçoes da apresentação -------------------------------- */

@keyframes entrarDaEsquerda {
    0% {
        transform: translateX(-115px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animacao-entrada {
    animation: entrarDaEsquerda 0.8s ease-in;
}

/* animação do titulo inicial */

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animacao-logo-principal {
    animation: aparecer 3s;
}